/* Reseta margens e paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #ffffff;
    background-color: #2d2d2d;
}

/* Estilo do menu lateral */
.sidebar {
    width: 250px;
    background-color: #8b0000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    transition: transform 0.3s ease;
    height: 100vh; /* Sidebar ocupa 100% da altura da viewport */
    position: fixed;
    top: 0;
    left: 0;
}

.sidebar.active {
    transform: translateX(0);
}

.logo {
    text-align: center;
    margin-bottom: 30px;
}

.logo h1 {
    font-size: 24px;
    margin-bottom: 5px;
}

.logo p {
    font-size: 12px;
    color: #bbbbbb;
}

.menu a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    display: block;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: left;
}

.menu a.active, .menu a:hover {
    background-color: #a30000;
}

.logout {
    text-align: center;
}

.logout a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

/* Estilo do conteúdo principal */
.content {
    height: 100%;
    flex-grow: 1;
    padding: 20px;
    margin-left: 250px; /* Compensa a largura da sidebar fixa */
    background-image: url('background-texture.png');
    background-size: cover;
}

.content h2 {
    margin-bottom: 20px;
}

.classes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}
/* Responsividade */
@media (max-width: 768px) {
    /* Oculta a barra lateral e exibe o ícone de hambúrguer */
    .sidebar {
        transform: translateX(-100%);
        height: 100%; /* Garante que a sidebar ocupe a altura completa em dispositivos móveis */
        z-index: 5;
    }

    .sidebar.active {
        transform: translateX(0);
    }

    .hamburger {
        display: block;
    }

    .content {
        margin-left: 0;
        padding-left: 20px;
    }
}
